@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  width: 100%;
}

.left-half {
  background-color: #C4C4C4;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create{
  margin-top: 40px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #7141FA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 50%;
}


.add-form {
  margin-bottom: 40px;
}

.name{
  display: table;
  width: 100%;
}


.name-control {
  display: table-cell;
}

.name-control label {
  display: table-cell;
}

.name-control input {
  display: table-cell;
  width: 60%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
